---
- name: Reset CageLab Code Repositories
  hosts: "{{ target | default('cagelab_domain_servers') }}"
  gather_facts: false

  vars:
    repositories: # List of repositories to update
      - ~/Code/Psychtoolbox
      - ~/Code/opticka
      - ~/Code/CageLab
      - ~/Code/Setup
      - ~/Code/matmoteGO
      - ~/Code/PTBSimia
      - ~/Code/matlab-jzmq
      - ~/Code/PacmanTask
      - ~/.dotfiles

  tasks:
    - name: Reset and update repositories
      ansible.builtin.shell: |
        if [[ -d "{{ item }}" && -d "{{ item }}/.git" ]]; then
          echo ">>> Resetting {{ item }}"
          cd "{{ item }}"
          git fetch --all --prune
          upstream=$(git rev-parse --abbrev-ref --symbolic-full-name @{u} 2>/dev/null)
          if [[ -n $upstream ]]; then
            git reset --hard $upstream
          else
            git reset --hard
          fi
          git clean -fdx
          git pull --force --all --prune
        else
          echo ">>> Skipping {{ item }} (not a git repo or does not exist)"
        fi
      args:
        executable: /bin/zsh
      loop: "{{ repositories }}"
      register: repo_update
      changed_when: "'Updating' in repo_update.stdout or 'bject' in repo_update.stdout"
      # The changed_when condition is approximate since git output varies.
      # We could just set it to 'true' if we assume this is always an action.
      # But usually git output contains keys when something happens.
