---
# For help, check out https://www.redhat.com/en/topics/automation/what-is-an-ansible-playbook
- name: Upgrade APT
  hosts: all
  gather_facts: true

  tasks:

    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
      become: true

    - name: Upgrade all apt packages to latest version
      ansible.builtin.apt:
        upgrade: full
      become: true
